{% extends 'base.html' %}

{% block title %} Signup {% endblock title %}
    
{% block navbar %} {% include 'navbar.html' %} {% endblock navbar %}

{% block banner %} {% include 'banner.html' %} {% endblock banner %}    

{% block content %}  
    <section>
        <h1>Signup To Have An Account</h1>

        <div class="container">
            <h2>Register</h2>

            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email }}                    
                </div>
                <div class="form-group">
                    {{ form.password1.label }}
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    {{ form.password2.label }}
                    {{ form.password2 }}
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>
{% endblock content %}

{% block footer %} {% include 'footer.html' %} {% endblock footer %}